/* div {
    border: 1px solid red;
} */

body {
    font-family: 'Roboto', sans-serif;
}

.foto-perfil {
    border: 2px solid lightgrey;
    border-radius: 50%;
    margin-top: -90px;
    background-color: white;
    background-size: 200px;
    width: 150px;
    height: 150px;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: bottom;
} 

.nav-desktop-penochao {
    background-color: #237FCF;
}

.rounded-penochao {
    border-radius: 20px;
}

.rounded-top-penochao {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.rounded-bottom-penochao {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.rounded-left-penochao {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.rounded-right-penochao {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.bg-btn-camera {
    background-color:rgb(26,28,219);
}

.bg-feed {
    background-color: rgb(219,228,255);
}

.bg-profile {
    margin:0;
    padding:0;
    width:285px;
}

.border-penochao {
    border: 1px solid #dee2e6;
}

.input-penochao-border {
    border: none!important;
}


.resultado-mantente{
    height: 50;
    font-size: 50px;
}
.resultado-visitante{
    height: 50px;
    font-size: 50px;
    
}


@media (max-width: 575.98px) {
    .bg-profile {
        width:375px;
    }
    .col-feed {
        padding:0!important;
    }
    .border-penochao-mobile {
        border: none!important;
    }
    .rounded-top-penochao {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    
    .rounded-bottom-penochao {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    
    .logo-mobile {
        display: flex;
        justify-content: center;
        
    }
 }