/* div {
    border: 1px solid red;
} */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

.logo-header {
    margin: 0 0 0 2rem ;
    padding: 0 !important;     
    top: 50px;
    z-index: 1;
}

.banner {
    /* width: 100%; */
    height: 500px;
    background-image: url("../img/futebol-raiz-varzea_956x500.jpg");
    background-size: 100vw;
    
}

.foto-perfil {
    border: 2px solid lightgrey;
    border-radius: 50%;
    top: 60px;
    background-color: white;
    background-size: 200px;
    width: 150px;
    height: 150px;
    z-index: 1;
    background-image: url('../img/foto-perfil.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
}


.nav-desktop-penochao {
    background-color: #237FCF;
}

.rounded-penochao {
    border-radius: 20px;
}

.rounded-top-penochao {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.rounded-bottom-penochao {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}