<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>PéNoChão</title>
</head>
<body>
    <header>
      <nav class="navbar navbar-dark nav-desktop-penochao">
        <div class="container px-0">
            <div class="col-3 px-0">
               <a class="navbar-brand mx-0 py-0" href="#">
                <img src="../img/logo_75x75.png"  alt="">
              </a>
            </div>
            <div class="col-6 px-0">
              <form class="form-inline justify-content-center">
                <input class="form-control border-info rounded-pill col-sm-12 " type="search" placeholder="" aria-label="Search">
              </form>
            </div>
            <div class="col px-0 d-flex justify-content-center">
              <a class="navbar-brand mx-0 py-0" href="#">
               <img src="../img/bola_75x75.png"  alt="">
             </a>
           </div>
           <div class="col px-0 d-flex justify-content-center">
            <a class="navbar-brand mx-0 py-0" href="#">
             <img src="../img/flag_75x75.PNG"  alt="">
           </a>
           </div>
           <div class="col px-0 d-flex justify-content-center">
          <a class="navbar-brand mx-0 py-0" href="#">
           <img src="../img/apito_75x75.PNG"  alt="">
         </a>
           </div>
        </div>
      </nav>  
    </header>

    <main class="container">
        <div class="row mt-3">

          <!-- Início da coluna do Perfil -->
          <div class="col-3 px-0 ">
            <div class="row mx-0 d-flex justify-content-center">
              <div>
                <img class="rounded-top-penochao" src="../img/gramado-bkg.PNG" width="285px">
              </div>
              <div class="foto-perfil position-absolute">
              </div>
            </div>
            <div class="container border rounded-bottom-penochao ">
              <div class="row d-flex justify-content-center">
                <div class="col">
                  <div class="mt-5 pt-3">
                    <h5 class="text-center">Caio Roberto da Silva</h5>
                    <p class="text-center">Zagueiro</p>
                    <h5 class="text-center">Estatísticas</h5>
                  </div>
                </div>
              </div>
              <div class="row d-flex justify-content-center">
                <div class="col mx-2 px-2 my-1 py-3 border rounded-penochao">
                  <h1 class="text-center">10</h1>
                  <p class="text-center">PARTIDAS</p> 
                </div>
                <div class="col mx-2 px-2 my-1 py-3 border rounded-penochao">
                  <h1 class="text-center">0</h1>
                  <p class="text-center">GOLS</p> 
                </div>
              </div>
              <div class="row d-flex justify-content-center">
                <div class="col mx-2 px-2 my-1 py-3 border rounded-penochao">
                  <h1 class="text-center">0</h1>
                  <p class="text-center">ASSISTÊNCIAS</p> 
                </div>
                <div class="col mx-2 px-2 my-1 py-3 border rounded-penochao">
                  <h1 class="text-center">8</h1>
                  <p class="text-center">VITÓRIAS</p> 
                </div>
              </div>
              <div class="row d-flex mb-3 justify-content-center">
                <div class="col mx-2 my-1 py-3 border rounded-penochao">
                  <h1 class="text-center">80%</h1>
                  <p class="text-center">APROVEITAMENTO</p> 
                </div>
              </div>
            </div>
          </div>
          <!-- Fim da coluna do Perfil -->

          <!-- Início da coluna do feed -->
          <div class="col-6">
            <div class="container bg-feed border rounded-penochao">
              <div class="row mx-0 my-3 rounded-penochao">
                  <div class="col-10 my-2 py-3 bg-white rounded-left-penochao">
                    <h5>Hora da resenha</h5>
                    <p class="">Escreva a descrição da sua imagem</p>
                  </div> 
                  <div class="col-2 my-2 bg-btn-camera rounded-right-penochao d-flex justify-content-center align-items-center">
                    <div>
                      <img src="../img/cam.PNG">
                    </div>
                  </div>
              </div>
         
              <div class="row mx-2 my-2 bg-white rounded-penochao">
                <div class="col-12">
                  <p class="text-center">Post</p>
                </div> 
            </div>
            </div>
          </div>
          <!-- Fim da coluna do feed -->

          <!-- Início da coluna 3 -->
          <div class="col border rounded-penochao d-flex justify-content-center">
            3 of 3
          </div>
          <!-- Fim da coluna 3 -->
        </div>
    </main>


    <footer>
        <div class="row justify-content-md-center mt-5">
            <p>© 2020 PeNoChão - O seu Portal dos jogos de varzea. Todos os direitos reservados.</p>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>