<header>
    <nav class="navbar navbar-dark nav-desktop-penochao">
      <div class="container logo-cadastro">
        <div class="col-12">
          <a class="navbar-brand mx-0 py-0" href="#">
            <img src="/images/logofinal.png" alt="Pé no Chão, a rede social da várzea!" id="imgLogo">
          </a>
        </div>
      </div>
    </nav>
  </header>