<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <title>Pagina não encontrada</title>
</head>
<body>
    <!--Cabeçalho-->
    <%- include('partials/headerLogada') %> 
    <img src="/images/bolaFora.jpg" alt="">
</body>
</html>