<!DOCTYPE html>
<html lang="pt-br">
<head>
    
  <!-- Configurações da Head Padrões -->
    <%- include('partials/head') %> 

    <title>Cadastro - Pé no Chão</title>

</head>

<body>
  
  <!-- Header com logo Centralizado-->
  <%- include('partials/headerNaoLogada') %>

      <main>
        <div class="container justify-content-center area-cadastro">
          <div class="row d-flex justify-content-center">
            <div class="col-sm-4 col-md-12 col-lg-4 form-cadastro">
              <h1>Cadastro</h1>
              <div class="alinhamento">
                <form action="/cadastro" method="POST" >

                  <label for="email">  E-mail  </label>
                  <input type="email" id="email" name="email" >

                  <label for="password"> Senha </label>
                  <input type="password"  id="password"  name="password">

                  <label for="senhaConfirmacao"> Confirmação da Senha  </label>
                  <input type="password" id="senhaConfirmacao"  name="senhaConfirmacao">

                <label for="sexo">  Sexo </label>
                 <select name="sexo" >
                  <option value="selecione" selected>Selecione</option> 
                  <option value="feminino">Feminino</option>
                  <option value="masculino">Masculino</option>
                </select>

                 <label for="dataNascimento">  Data de Nascimento </label>
                 <input type="date" id="dataNascimento" name="dataNascimento">
              
                 <label for="nome">  Nome de Usuário </label>
                 <input type="text" id="nome" name="nome"> 

                 <label for="posicaoJogador"> Posição em Campo </label>
                 <select name="posicaoJogador">
                  <option value="selecione" selected>Selecione</option> 
                  <option value="goleiro">Goleiro</option>
                  <option value="zagueiro">Zagueiro</option>
                  <option value="lateral">Lateral</option>
                  <option value="volante">Volante</option>
                  <option value="meioCampo">Meio Campo</option>
                  <option value="meioAtacante">Meio Atacante</option>
                  <option value="ponta">Ponta</option>
                  <option value="segundoAtacante">Segundo Atacante</option>
                  <option value="centroavante">Centroavante</option>
                </select>

                  <label for="estado" > Estado </label >
                  <select name="estado">
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP" selected >São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                  </select>

                  <label for="cep">Cep</label>
                  <input type="text" id="cep" name="cep" >

                  <label for="cidade">Cidade</label>
                  <input type="text" id="cidade" name="cidade" >

                  <label for="bairro">Bairro</label>
                  <input type="text" id="bairro" name="bairro">

                  <label for="telefone">Número de Telefone</label>
                  <input type="text" id="telefone" name="telefone">

                  <input type="submit" id="btn-form"value="Entrar">
                </form>
                </div>
            </div>
          </div>  
        </div>
      </main>
</body>

<!-- Footer -->
<%- include('partials/footer') %> 

</html>