<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include('partials/head') %>  

    <title>Times-PéNoChão</title>
</head>

<body>

<!-- Header Logada-->
<%- include('partials/headerLogada') %> 

<main class="conteiner   ">
      <div class="d-flex justify-content-center  col-12 " >
    <div class="  col-12 col-sm-6 my-5 "   > 
        <div class="input-group ">
          <input class="form-control " type="search" placeholder="Pesquisar" aria-label="Search" >
          <div class="input-group-append">
            <div class="input-group-text" >
                <img src="/images/pesquisa.png" alt="Icon Pesquisa">
            </div>
          </div>
        </div>
      </div>
    </div>
      

    
    <div class="d-flex justify-content-center col-12 my-5" id=" "> 
        <div class="card  " id="#cabeca">
            <div class="card-header d-flex justify-content-between bg-white"  id="" >
                <img class=" " data-toggle="collapse" data-target="#primeiro"  src="/images/logofinal.png" width="80px" height="80px" alt="">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#primeiro">
                <h5 class=" pr-5"> Nome do Time</h5>  
                </button>    
                
                    <i class="fas fa-angle-down   " data-toggle="collapse" data-target="#primeiro"></i>
                
            </div>
            
            <div id="primeiro" class="collapse" >
                <div class=" text-center border-light  ">
                    <table class="table table-borderless  my-1  " id="tabela">
                        <tbody class="my-1">
                            
                            <tr >
                                <td scope="row " ><h6 class="textTabela">Nº</h6> </td>
                                <td scope="row"><h5 class="textTabela">Posição</h5></td>
                                <td scope="row"><h5 class="textTabela">Nome</h5></td>
                            </tr>
                        
                            <tr>
                                <td scope="row">2</td>
                                <td scope="row">ld</td>
                                <td scope="row">Cris</td>
                            </tr>
                            <tr>
                                <td scope="row">3</td>
                                <td scope="row">z</td>
                                <td scope="row">Caio</td>
                            </tr>
                            <tr>
                                <td scope="row">4</td>
                                <td scope="row">m</td>
                                <td scope="row">Bruno</td>
                            </tr>
                            <tr>
                                <td scope="row">5</td>
                                <td scope="row">z</td>
                                <td scope="row">Kris</td>
                            </tr>
                            

                        </tbody>
                    </table> 
                </div>
                
            </div>
        </div>
    </div> 
    


    

</main>

<div>
    <br><br><br><br><br><br>
</div>

</body>
<!-- Footer -->
<%- include('partials/footer') %> 
</html>